.project {
  padding: clamp(6rem, 13vw, 7rem) 0;
}

.project > div {
  width: clamp(300px, 92vw, 1350px);
}

.content {
  display: flex;
  flex-direction: column;
  gap: 30px;
  background-color: #fff;
  padding: clamp(1rem, 5vw, 3rem);
  border-radius: 10px;
}

.skills__list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.skills__list li {
  padding: 0.5em 1em;
  background-color: #eee;
  font-size: clamp(0.8rem, 1.7vw, 1.1rem);
}

.content h2 {
  margin-bottom: 8px;
  color: var(--dark-blue-clr);
}

.content h3 {
  margin-bottom: 10px;
  color: var(--dark-blue-clr);
  font-weight: 600;
}

.github {
  width: fit-content;
  display: block;
  color: #000;
  font-size: clamp(0.9rem, 1vw, 1.2rem);
  word-break: break-word;
}

.desc {
  margin-bottom: 16px;
}

.desc:last-of-type {
  margin-bottom: 0;
}

.btn {
  width: fit-content;
  color: var(--main-clr);
  border: 2px solid var(--main-clr);
  padding: 0.5em 1em;
  font-size: clamp(0.9rem, 2vw, 1.2rem);
  font-weight: 600;
  transition: background-color 0.3s, color 0.3s;
}

.btn:hover {
  background-color: var(--main-clr);
  color: #fff;
}

.more-projects {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 5rem 0;
  gap: 20px;
}

.more-projects__wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.more-projects h2 {
  color: rgb(77, 77, 77);
  opacity: 0;
  transition: opacity 2s;
  text-align: center;
}

.more-projects__items {
  display: flex;
  gap: 30px;
}

.project-btn {
  padding: 0.5em 1em;
  color: var(--main-clr);
  font-weight: 600;
  font-size: clamp(0.9rem, 2vw, 1.4rem);
  cursor: pointer;
  border: 2px solid var(--main-clr);
  transition: background-color 0.3s, color 0.3s, opacity 2s;
  align-self: center;
  margin-top: 20px;
  opacity: 0;
}

.project-btn:hover {
  color: #fff;
  background-color: var(--main-clr);
}

@media only screen and (max-width: 600px) {
  .more-projects__items {
    flex-direction: column;
    gap: 25px;
    align-items: center;
  }
}
